[submodule "Image_Search"]
	path = Image_Search
	url = https://github.com/Sridhar1030/Image_Search
[submodule "TypeTester"]
	path = TypeTester
	url = https://github.com/Sridhar1030/TypeTester-
[submodule "Weather"]
	path = Weather
	url = https://github.com/Sridhar1030/Weather
